<html>
	<head>
		<title>Facebook Chat Analysis</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/adminLayout.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/twitter-bootstrap/bootstrap.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div id="wrap">
			<div>
	            <renderSlot name="navBar" />
			</div>
			<div>
	            <renderSlot name="center-1" />
			</div>
		</div>
		<div>
			<renderslot name="footer" />
		</div>
	</body>
</html>
