<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css" />
	<script data-main="js/main" src="js/lib/require.js"></script>
</head>
<body>
	<div>
		<div id="loginPrompt" class="container show">
		
		</div>
	    <div id="appHub" class="container hidden">
	    	<div class="row">
		        <div class="col-md-4">
			        <div class="panel panel-default">
					    <div class="panel-heading">Conversations</div>
					    <div id="conversations" class="panel-body">
					    
					    </div>
					</div>
		        </div>
		        <div class="col-md-6">
		        
		        </div>
		    </div>
	    </div>
	</div>
	<div>
	
	</div>
</body>