.card {
	padding-top: 20px;
	padding-bottom: 20px;
}

.panel {
	margin-bottom: 0px;
}

.facebookLoginButton {
	background-image: url(/static/img/facebook_login_buttons/active_600@2x.png);
	width: 480px;
	height: 69px;
	background-repeat: no-repeat;
	background-size: 480px 70px;
}

.facebookLoginButton:active {
	background-image: url(/static/img/facebook_login_buttons/pressed_600@2x.png);
}

.facebookLoginButton:hover {
	cursor: pointer;
}