.card {
	padding-top: 20px;
	padding-bottom: 20px;
}

.panel {
	margin-bottom: 0px;
}

.facebookLoginButton {
    margin-top: 10px;
}

.facebookLoginButton:active {
	content: url(/static/img/facebook_login_buttons/pressed_404@2x.png);
}

.facebookLoginButton:hover {
	cursor: pointer;
}

.facebookMessengerLogo {
	max-height: 200px;
}

#loginPrompt > div {
	max-width: 710px;
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (min-width: 768px) {
	#conversations {
		height: 400px;
		overflow-y: scroll;
	}
	
	#analytics {
		height: 400px;
	}
}

@media (max-width: 768px) {
	#conversations {
		min-height: 200px;
	}
	
	#analytics {
		margin-top: 20px;
		min-height: 200px;
	}
}

.conversation {
	border-bottom: 1px solid #CCC;
	padding: 10px;
	cursor: pointer;
}

.conversation:hover {
	background-color: #f4f6f9;
}

.conversation.selected {
	background-color: #d8dfea;
}

.conversationProgressBarContainer {	
    height: 200px;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.analysisBtnContainer {
	text-align: center;
}

#analyzeBtn {
	margin-right: 15px;	
}
}