.card {
	padding-top: 20px;
	padding-bottom: 20px;
}

.panel {
	margin-bottom: 0px;
}

.facebookLoginButton {
	margin: 10px;
}

@media (min-width: @screen-md-min) {
    .facebookLoginButton[data-src-desktop] {
        content: attr(data-src-desktop, url);
    }
}

@media (min-width: @screen-md-min) {
	.facebookLoginButton:active {
		content: url(/static/img/facebook_login_buttons/pressed_600@2x.png);
	}
}

.facebookLoginButton:active {
	content: url(/static/img/facebook_login_buttons/pressed_404@2x.png);
}

.facebookLoginButton:hover {
	cursor: pointer;
}

.facebookMessengerLogo {
	max-height: 200px;
}

#loginPrompt > div {
	max-width: 710px;
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.conversation {
	border-bottom: 1px solid #CCC;
	padding: 10px;
}